<div class='post'>
  <h1><%= @post ? post.title : link_to(post.title, blog_post_path(post))%></h1>
  <div class='author'><%= post.author %></div>
  <div class='date'><%= post.created_at %></div>
  <div class='content'>
    <%= post.content.html_safe %>
  </div>
</div>