<%= render :partial => 'blog/posts/post', :object => @post %>

<% if ComfyBlog.disqus_enabled? %>
  <%= render :partial => 'blog/comments/disqus' %>
  
<% else %>
  <div id='comments'>
    <% @post.comments.published.each do |comment| %>
      <%= render :partial => 'blog/comments/comment', :object => comment %>
    <% end %>
  </div>
  <%= render :partial => 'blog/comments/form' %>
<% end %>