source 'http://rubygems.org'

gem 'rails',                    :github => 'rails/rails'
gem 'comfortable_mexican_sofa'
gem 'kaminari',                 '>= 0.16.1'

group :test do
  gem 'sqlite3'
  gem 'coveralls',  :require => false
end