<li>
  <div class='item'>
    <div class='action_links'>
      <%= link_to t('comfy_blog.edit'), :action => :edit, :id => tag %>
      <%= link_to t('comfy_blog.delete'), {:action => :destroy, :id => tag}, :method => :delete, :confirm => t('comfy_blog.confirm_tag_delete') %>
    </div>
    <div class='label'>
      <%= link_to tag.name, :action => :edit, :id => tag %>
      <div class='sublabel'>
        <% if tag.is_category? %>
          <%= t('comfy_blog.category') %>
        <% end %>
      </div>
    </div>
  </div>
</li>
