<li>
  <div class='item'>
    <div class='action_links'>
      <%= link_to 'Edit', :action => :edit, :id => tag %>
      <%= link_to 'Delete', {:action => :destroy, :id => tag}, :method => :delete, :confirm => 'Are you sure you want to delete this tag?' %>
    </div>
    <div class='label'>
      <%= link_to tag.name, :action => :edit, :id => tag %>
      <div class='sublabel'>
        <% if tag.is_category? %>
          Category
        <% end %>
      </div>
    </div>
  </div>
</li>
