<%= link_to 'Add new blog tag', {:action => :new}, :class => 'big button' %>

<h1>Blog Tags</h1>

<ul class='list categories'>
  <% @tags.each do |tag| %>
    <%= render :partial => 'tag', :object => tag %>
  <% end %>
</ul>