<%= link_to t('comfy_blog.new_tag'), {:action => :new}, :class => 'big button' %>

<h1><%= t('comfy_blog.tags') %></h1>

<ul class='list categories'>
  <% @tags.each do |tag| %>
    <%= render :partial => 'tag', :object => tag %>
  <% end %>
</ul>