<%= link_to 'Add new blog post', new_admin_blog_post_path, :class => 'big button' %>

<h1>Blog Posts</h1>

<ul class='list posts'>
  <% @posts.each do |post| %>
    <%= render :partial => 'post', :object => post %>
  <% end %>
</ul>

<% if defined? WillPaginate %>
  <%= will_paginate @posts %>
<% end %>