<h1>New comment</h1>

<h2>
  <%= link_to @post.title.titleize, edit_sofa_blog_admin_post_path(@post) %>
  <% @post.tags.each do |tag| %>
    <span class="tag"><%= tag.name %></span>
  <% end %>
</h2>


<%= sofa_blog_form_for @comment, :as => :comment, :url => {:action => :create} do |form| %>
  <%= render :partial => form %>
<% end %>
    