<h1>
  Comments 
  <% if @post %>
    for <%= @post.title %>
  <% end %>
</h1>

<ul class='list comments'>
  <% @comments.each do |comment| %>
    <%= render :partial => 'comment', :object => comment %>
  <% end %>
</ul>
