- if @site.present? && @site.persisted?
  %li.nav-item
    = active_link_to comfy_admin_blogs_path(@site), active: [["comfy/admin/blog/blogs"]], class: "nav-link" do
      = t('comfy.admin.cms.base.blogs')
- if @blog.present? && @blog.persisted?
  %li.nav-item
    = active_link_to comfy_admin_blog_posts_path(@site, @blog), class: "nav-link" do
      = t('comfy.admin.cms.base.posts')
