.page-header
  %h2 Blog Comments
  
= paginate @comments

%table.table.table-hover.table-bordered
  %tr
    %th Post
    %th.main Comment
    %th Posted
    %th Status
    %th
    
  - @comments.each do |comment|
    = render :partial => 'comment', :object => comment
    
= paginate @comments