<%= link_to span_tag('Create New Blog Post'), new_cms_admin_blog_post_path, :class => 'big button' %>
    
<h1> Edit blog post </h1>

<%= cms_form_for @blog_post, :url => {:action => :update} do |form| %>
  <%= render :partial => form %>
<% end %>
